<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="10" name="Functional_CRM_and_Flow_tests" configfailurepolicy="continue" thread-count="2" parallel="classes">
    <test name="Functional_CRM_and_Flow_tests">
        <classes>
            <class name="CheckCarInList"/>
            <class name="CheckCheckboxesInTransmissionList"/>
            <class name="CheckDefaultFilterFields"/>
            <class name="CheckFilterByMileage"/>
            <class name="CheckValidationPriceField"/>
            <class name="CheckCarInList"/>
            <class name="CheckFilterByPrice"/>
        </classes>
    </test>
</suite>